<form class="form" [formGroup]="loginForm">
    <h2>Login</h2>
    
    <mat-form-field class="form-control">
        <mat-label>Your email</mat-label>
        <input matInput formControlName="email" type="text"/>
    </mat-form-field>

    <mat-form-field class="form-control">
        <mat-label>Your password</mat-label>
        <input matInput formControlName="password" type="password"/>
    </mat-form-field>

    <div class="form-footer">
        <button mat-button (click)="onLogin()">Login</button>
        <a routerLink="/register">Create a user</a>
    </div>

    <button mat-raised-button (click)="login()">Login with Google</button>
</form>