<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <div class="app-name has-gradient-text"><img src="../../../assets/1.png" class="logo" width="80px" height="200px">TrelloLite</div>
            </div>
        </div>
    </div>

    <div class="board">

        <div class="board-bar">
            <p class="board-name">Board Name</p>
        </div>

        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column">
                    <div class="column-title">
                        To Do
                    </div>
                    <div class="tasks-container"
                    cdkDropList
                    [cdkDropListData]="items"
                    cdkDropListSortingDisabled
                    (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of items" cdkDrag>
                            {{item}}
                        </div>
                    </div>
                </div>

                <div class="board-column">
                    <div class="column-title">
                        In Progress
                    </div>
                    <div class="tasks-container"
                    cdkDropList
                    [cdkDropListData]="items"
                    cdkDropListSortingDisabled
                    (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of items" cdkDrag>
                            {{item}}
                        </div>
                    </div>
                </div>

                <div class="board-column">
                    <div class="column-title">
                        Compleate
                    </div>
                    <div class="tasks-container"
                    cdkDropList
                    [cdkDropListData]="basket"
                    cdkDropListSortingDisabled
                    (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of items" cdkDrag>
                            {{item}}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>