<div class="root {{ storedTheme }}">
    <div class="navbar has-background-dark">
        <div class="app-name has-gradient-text">
            <img src="../../../assets/1.png" class="logo" width="80px" height="200px">
            <h1>TrelloLite</h1>
        </div>
                
        <mat-menu #Menu="matMenu">
            <img src="https://avatars.dicebear.com/api/human/abcd{{ randomSeed }}}.svg" alt="avatar" mat-card-avatar>
            <ng-template matMenuContent>
                <button mat-menu-item (click)="newTask()">
                    <mat-icon>add</mat-icon> Add Task
                </button>

                <hr/>

                <div class="theme__options">
                    <h3>Themes</h3>

                    <img id="theme-blueberries" (click)="setTheme('theme-blueberries')"/>
                    <img id="theme-blue" (click)="setTheme('theme-blue')"/>
                    <img id="theme-green" (click)="setTheme('theme-green')"/>
                    <img id="theme-brown" (click)="setTheme('theme-brown')"/>
                    <img id="theme-white" (click)="setTheme('theme-white')"/>
                    <img id="theme-mountains" (click)="setTheme('theme-mountains')"/>
                    <img id="theme-dog" (click)="setTheme('theme-dog')"/>
                    <img id="theme-tulip" (click)="setTheme('theme-tulip')"/>
                    <img id="theme-coffee" (click)="setTheme('theme-coffee')"/>
                    <img id="theme-rose" (click)="setTheme('theme-rose')"/>
                </div>

                <hr/>

                <button mat-menu-item (click)="onLogout()">
                    <mat-icon>logout</mat-icon> Logout
                </button>
                
                
            </ng-template>
        </mat-menu>
                  
        <button mat-icon-button [matMenuTriggerFor]="Menu" [matMenuTriggerData]="">
            <mat-icon class="material-icons md-36 material-icons md-light">account_circle</mat-icon>
        </button>      
    </div>

    <div class="content-wrapper">

        <div class="board-bar">
            <p class="board-name">Board Name</p>
        </div>

        <div class="container-wrapper">
            <div class="sidebar">
                <h1 class="title-sidebar">
                    Boards
                </h1>

                <div class="list-menu">
                    <a class="list-menu-item">
                        <p> </p>
                    </a>
                </div>

                <button class="button is-primary" routerLink=""> + New Board </button>
            </div>

            <div class="container">
                <h2 class="column-title">To Do</h2>
          
                <mat-card 
                  cdkDropList 
                  id="todo" 
                  #todoList="cdkDropList" 
                  [cdkDropListData]="todo | async" 
                  [cdkDropListConnectedTo]="[inProgressList]"
                  (cdkDropListDropped)="drop($event)" 
                  class="list">
                  <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
                  <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo | async" cdkDrag [task]="task" ></app-task>
                </mat-card>
          
            </div>
          
            <div class="container">
                <h2 class="column-title">In Progress</h2>
            
                <mat-card
                  cdkDropList
                  id="inProgress"
                  #inProgressList="cdkDropList"
                  [cdkDropListData]="inProgress | async"
                  [cdkDropListConnectedTo]="[todoList, doneList]"
                  (cdkDropListDropped)="drop($event)"
                  class="list">
                  <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
                  <app-task (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress | async" cdkDrag [task]="task"></app-task>
                </mat-card>
            </div>
            
            <div class="container">
                <h2 class="column-title">Compleate</h2>
            
                <mat-card
                  cdkDropList
                  id="done"
                  #doneList="cdkDropList"
                  [cdkDropListData]="done | async"
                  (cdkDropListDropped)="drop($event)"
                  class="list">
                  <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
                  <app-task (edit)="editTask('done', $event)" *ngFor="let task of done | async" cdkDrag [task]="task"></app-task>
                </mat-card>
            </div>
        </div>
    </div>
</div>