<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <div class="app-name has-gradient-text"><img src="../../../assets/1.png" class="logo" width="80px" height="200px">TrelloLite</div>
            </div>
        </div>
    </div>

    <div class="board">

        <div class="board-bar">
            <p class="board-name">Board Name</p>
        </div>

        <div class="board-wrapper">
            <div class="sidebar">
                <h1 class="title-sidebar">
                    Boards
                </h1>

                <div class="list-menu">
                    <a class="list-menu-item is-active">
                        <p> List1 </p>
                    </a>
                    <a class="list-menu-item">
                        <p> List1 </p>
                    </a>
                    <a class="list-menu-item">
                        <p> List1 </p>
                    </a>
                </div>

                <button class="button is-primary"> + New Board </button>
            </div>

            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let column of board.columns">
                    <div class="column-title">
                        {{ column.name }}
                    </div>
                    <div class="tasks-container"
                    cdkDropList
                    [cdkDropListData]="column.tasks"
                    cdkDropListSortingDisabled
                    (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                            {{ item }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>