<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create new Board
        </h1>

        <input #boardTitleInput class="input is-medium" type="text" placeholder="Enter board name...">
        <br/><br/>
        <div class="buttons is-right">
            <button class="button is-medium" routerLink>Cancel</button>
            <button class="button is-primary is-medium" (click)="createBoard(boardTitleInput.value)">Create</button>
        </div>
    </div>
</div>